@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "components/res-form.scss";
@import "components/res-display-list.scss";
@import "components/pdf-display.scss";


html{
	height:100%; 
	overflow:hidden;
}

body{
	padding-top:20px;
	padding-bottom:20px; 
	height:100%; 
	overflow:auto; 
}

.navbar{
	margin-bottom:20px; 
}

